.button {
  display: inline-block;
  height: auto;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white-color;
  background-color: $primary-color;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &--disabled {
    color: $darker-grey-color;
    background-color: $grey-color;
    pointer-events: none;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $dark-green-color;
  }

  &:active {
    color: $text-active-white;
  }
}

.button-range {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: none;
  text-transform: uppercase;
  outline: none;

  &--before {
    margin-right: 20px;
  }

  &--after {
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .button-range {
    &--before,
    &--after {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background-color: $grey-darker-color;
      }
    }
  }
}
