.control--radio .control__label {
  &::before {
    border-radius: 50%;
  }
  &::after {
    top: 9px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: $primary-color;
    border-radius: 50%;
  }
}

.control--checkbox .control__label {
  &::after {
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background-image: url("/img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.control__label {
  position: relative;
  display: inline-block;
  padding: 6px 0;
  padding-left: 40px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.8;

  &::before,
  &::after {
    content: "";
    position: absolute;
    transition: 0.2s;
  }

  &::before {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-darker-color;
  }

  &::after {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.control__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked ~ .control__label {
    &::after {
      opacity: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .control--checbox {
    width: calc(50% - 30px);
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .control--checkbox {
    width: calc((100% - 80px*3)/4);
    margin-right: 20px;
    margin-bottom: 0;
  }
}
