.features {
  margin-bottom: 40px;
}

.features__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.features__title {
  margin-top: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.6;
}

.features__list {
  @include list-style-reset;
}

.features__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $primary-color;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }

  &--consistency {
    &::before {
      background-image: url("/img/advantage-leaf@1x.png");
    }
  }

  &--package {
    &::before {
      background-image: url("/img/advantage-powder@1x.png");
    }
  }

  &--usage {
    &::before {
      background-image: url("/img/advantage-dining@1x.png");
    }
  }

  &--result {
    &::before {
      background-image: url("/img/advantage-clock@1x.png");
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.features__description {
  @include arial-font;
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  color: $darker-grey-color;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }

  .features__title {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 1;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: calc(50% - 155px);
    margin-right: 210px;
    margin-bottom: 140px;
    padding-top: 100px;
    padding-left: 0;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -40px;
      right: -5px;
      z-index: -1;
      font-size: 281px;
      line-height: 1;
      color: $grey-color;
    }

    &--consistency {
      &::after {
        content: "1";
      }
    }

    &--package {
      &::after {
        content: "2";
      }
    }

    &--usage {
      &::after {
        content: "3";
      }
    }

    &--result {
      &::after {
        content: "4";
      }
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 90px;
    }
  }

  .features__description {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .features {
    @include desktop-layout;
    margin-bottom: 140px;
  }

  .features__wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .features__item {
    flex-direction: row;
    width: calc((100% - (85px * 3)) / 4);
    margin-right: 85px;
    margin-bottom: 0;
    padding-top: 100px;
    padding-left: 0;

    &:nth-child(even) {
      margin-right: 85px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
