.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.features__title {
  font-size: 36px;
  line-height: 1.6;
  font-weight: normal;
}

.features__list {
  @include list-style-reset;
}

.features__item {
  display: flex;
  position: relative;
  align-items: center;

  &::before {
    content: "";
    position: relative;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $green-color;
    background-position: center;
  }

  &--consistency {
    &::before {
      background-image: url("/img/advantage-leaf@1x.png");
    }
  }

  &--package {
    &::before {
      background-image: url("/img/advantage-powder@1x.png");
    }
  }

  &--usage {
    &::before {
      background-image: url("/img/advantage-dining@1x.png");
    }
  }

  &--result {
    &::before {
      background-image: url("/img/advantage-clock@1x.png");
    }
  }
}

.features__description {
  @include arial-font;
  color: $dark-grey-color-2;
  font-size: 14px;
  line-height: 18px;
}
