.field {
  display: flex;
  align-items: center;

  &--textarea {
    .field__input {
      min-height: 42px;
      padding: 12px;
      resize: vertical;
    }
  }
}

.field__wrapper-icon {
  position: relative;
  width: 100%;
}

.field__label {
  flex-shrink: 0;
  margin-right: 16px;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
}

.field__input {
  flex-grow: 1;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  color: $darker-black-color;
  border: 1px solid rgba(205, 205, 205, 0.5);
  text-transform: uppercase;

  &::placeholder {
    color: $darker-black-color;
  }

  &:-ms-input-placeholder {
    color: $darker-black-color;
  }

  &::-ms-input-placeholder {
    color: $darker-black-color;
  }

  &:hover {
    border-color: $grey-darker-color;
  }

  &:focus {
    outline: none;
    border-color: $darker-grey-color;
    box-shadow: inset 0 0 0 1px $darker-grey-color;
  }

  &--email {
    width: 100%;
    padding-right: 32px;
  }

  &--tel {
    width: 100%;
    padding-right: 32px;
  }
}

.field__input-icon {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translate(100%, -50%);
  fill: #222222;

  &--email {
    width: 17px;
    height: 13px;
  }

  &--tel {
    width: 20px;
    height: 20px;
  }
}

.field__input:focus ~ .field__input-icon {
  fill: $primary-color;
}


.field-input__range {
  width: 84px;
  height: 14px;
  background: $white-color;
  border: 1px solid $grey-darker-color;
  border-radius: 6px;
  appearance: none;
  outline: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 35px;
    height: 6px;
    background: $primary-color;
    cursor: pointer;
    border-radius: 3px;
  }

  &::-moz-range-thumb {
    width: 35px;
    height: 6px;
    background: $primary-color;
    cursor: pointer;
    border-radius: 3px;
  }
}

@media (min-width: $tablet-width) {
  .field-input__range {
    position: relative;
    width: 428px;
    height: 3px;
    background-color: $grey-darker-color;

    &::-webkit-slider-thumb {
      width: 34px;
      height: 34px;
      background: radial-gradient(circle, rgba(104, 183, 48, 1) 20%, rgba(255, 255, 255, 1) 21%);
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    }

    &::-moz-range-thumb {
      width: 34px;
      height: 34px;
      background: radial-gradient(circle, rgba(104, 183, 48, 1) 20%, rgba(255, 255, 255, 1) 21%);
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    }

    &::-webkit-slider-thumb:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &::-moz-range-thumb:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &::-webkit-slider-thumb:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      border: 2px solid $primary-color;
    }

    &::-moz-range-thumb:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      border: 2px solid $primary-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-input__range {
    height: 6px;

    &::-webkit-slider-thumb {
      border: 1px solid $grey-darker-color;
    }

    &::-moz-range-thumb {
      border: 1px solid $grey-darker-color;
    }
  }
}
