.form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form__group--radio {
  margin-right: -20px;
  margin-bottom: 30px;
  margin-left: -20px;
  padding: 20px;
  border-top: 1px solid $greyer-color;
  border-bottom: 1px solid $greyer-color;
}

.form__group--checkbox {
  margin-bottom: 30px;
}

.form__subtitle {
  margin-bottom: 30px;
  padding-right: 24px;
  font-size: 24px;
  line-height: 1;
  background-color: $white-color;


  &::after {
    content: "";
    position: absolute;
    top: calc(1em / 2 + 3px); // Line-height / 2(center) + height
    left: 0;
    z-index: -1;
    display: inline-block;
    width: calc(100vw - 20px);
    height: 3px;
    background-color: $primary-color;
  }
}

.form__button {
  margin-bottom: 24px;
}

.form__footnote {
  @include arial-font;
  margin-top: 0;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $darker-grey-color;
}
