

.gift__link {
  position: relative;
  display: block;
  min-width: 280px;
  min-height: 289px;
  padding: 60px 60px 40px 60px;
  padding-top: 200px;
  background-color: $dark-green-color;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    width: 56px;
    height: 61px;
    background-image: url("/img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .gift__link {
    background-image: url("/img/gift-photo-mobile@2x.jpg");
  }
}

.gift__text {
  @include arial-font;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $white-color;
}

@media (min-width: $tablet-width) {
  .gift__link {
    background-image: url("/img/gift-photo-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .gift__link {
      background-image: url("/img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .gift__link {
    width: 246px;
    min-width: auto;
    height: 289px;
    min-height: auto;
    padding-top: 180px;
    background-image: url("/img/gift-photo-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .gift__link {
      background-image: url("/img/gift-photo-desktop@2x.jpg");
    }
  }
}
