.main-catalog {
  padding-top: 20px;
}

.main-catalog__title {
  margin-top: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.6;
}

.main-catalog__list {
  @include list-style-reset;
}

.main-catalog__item {
  border-bottom: 1px solid $grey-color;

  &:first-child {
    border-top: 1px solid $grey-color;
  }
}
