.main-catalog {
  padding-top: 20px;
}

.main-catalog__title {
  margin-top: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.6;
}

.main-catalog__list {
  @include list-style-reset;
}

.main-catalog__item {
  border-bottom: 1px solid $grey-color;

  &:first-child {
    border-top: 1px solid $grey-color;
  }
}

@media (min-width: $tablet-width) {
  .main-catalog {
    padding-top: 40px;
  }

  .main-catalog__header-wrapper {
    margin-bottom: 70px;
  }

  .main-catalog__title {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
  }

  .main-catalog__wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }

  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-catalog__item {
    width: calc(50% - 30px);
    margin-right: 60px;
    margin-bottom: 60px;
    border-bottom: none;

    &:first-child {
      border-top: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__wrapper {
    @include desktop-layout;
  }

  .main-catalog__header-wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .main-catalog__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 80px * 3) / 4);

    &:nth-child(2n) {
      margin-right: 60px;
    }
  }
}
