.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $grey-color;
}

.page-footer__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.page-footer__logo-image {
  display: block;
  width: 128px;
  height: 24px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.page-footer__copyright-link {
  @include arial-font;
  font-size: 16px;
  color: $darker-grey-color;
  text-decoration: none;
}

.page-footer__copyright-image {
  display: block;
  flex-shrink: 0;
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__copyright {
    justify-content: stretch;
    width: auto;
    margin: 0;
  }

  .page-footer__copyright-link {
    min-width: 115px;
    margin-right: 23px;
    color: $darker-grey-color;
  }
}
