.page-footer {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: $grey-color;
}

.page-footer__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.page-footer__logo-image {
  display: block;
  width: 128px;
  height: 24px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.page-footer__copyright-link {
  @include arial-font;
  font-size: 16px;
  color: $darker-grey-color;
  text-decoration: none;
}

.page-footer__copyright-image {
  flex-shrink: 0;
  display: block;
  width: 27px;
  height: 34px;
}
