.page-header {
  border-bottom: 1px solid $grey-color;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 20px;
}

.page-header__logo,
.page-header__logo-picture,
.page-header__logo-image {
  display: block;
  width: 191px;
  height: 39px;
}

.page-header__logo {
  margin-right: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  width: 24px;
  height: 24px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-size: 0;
  background-color: $white-color;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: 24px 18px;
  outline: none;

  &--closed {
    background-image: url("/img/icon-mobile-menu.svg");
  }

  &--opened {
    background-image: url("/img/icon-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 24px 0;
    border-bottom: none;
  }

  .page-header__wrapper {
    display: flex;
    padding: 0 30px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__top {
    width: 203px;
    margin-right: 20px;
    padding: 0;
  }

  .page-header__logo,
  .page-header__logo-picture,
  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }

  .page-header__site-nav {
    width: calc(100% - 223px);
    padding-top: 13px;

    .site-nav__list {
      justify-content: flex-end;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__wrapper {
    padding-top: 53px;

    @include desktop-layout;
  }

  .page-header__logo,
  .page-header__logo-picture,
  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
