.profile__wrapper {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.profile__title {
  margin-top: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.65;
}

.profile__description {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3;
}
