.site-nav {
  width: 100%;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
  }
}

.site-nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-nav__item {
  padding: 24px 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid $grey-color;
  text-transform: uppercase;

  &:first-child {
    border-top: 1px solid $grey-color;
  }

  &:last-child {
    border: none;
  }
}

.site-nav__link {
  text-decoration: none;

  &:visited {
    color: $black-color;
  }
}
