.site-nav {
  width: 100%;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
  }
}

.site-nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-nav__item {
  padding: 24px 20px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid $grey-color;
  text-transform: uppercase;

  &:first-child {
    border-top: 1px solid $grey-color;
  }

  &:last-child {
    border: none;
  }
}

.site-nav__link {
  text-decoration: none;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .site-nav {
    width: auto;

    &--closed {
      display: block;
    }
  }

  .site-nav__list {
    display: flex;
  }

  .site-nav__item {
    padding: 0;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 1.4;
    border: none;
  }

  .site-nav__link--activе {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 2px;
      background-color: #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-nav__item {
    font-size: 20px;
    line-height: 1.25;

    &:last-child {
      padding-right: 0;
    }
  }
}
