.socials {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $grey-darker-color;
  border-bottom: 1px solid $grey-darker-color;
}

.socials__list {
  @include list-style-reset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}

.socials__icon {
  fill: $dark-grey-color;

  &:hover {
    opacity: 0.8;
    fill: $primary-color;
  }

  &:active {
    opacity: 0.6;
  }

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}


@media (min-width: $tablet-width) {
  .socials {
    border: none;
  }

  .socials__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
