@font-face {
  display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: "oswald-regular";
  src: url("/fonts/oswaldregular.woff2") format("woff2"),
    url("/fonts/oswaldregular.woff") format("woff");
}

@font-face {
  display: swap;
  font-style: normal;
  font-weight: 500;
  font-family: "oswald-medium";
  src: url("/fonts/oswaldmedium.woff2") format("woff2"),
    url("/fonts/oswaldmedium.woff") format("woff");
}
