@mixin list-style-reset() {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@mixin arial-font {
  font-family: "Arial", "Helvetica", sans-serif;
}

@mixin desktop-layout {
  width: 100%;
  margin: 0 auto;
  padding-right: 110px;
  padding-left: 110px;
  max-width: 1440px;
}
