// ------------------------------------------ //
// 01 COLORS
// ------------------------------------------ //
$white-color: #ffffff;
$black-color: #111111;
$darker-black-color: #222222;
$grey-color: #f2f2f2;
$grey-darker-color: #cdcdcd;
$greyer-color: #ededed;
$dark-grey-color: #666666;
$darker-grey-color: #444444;
$primary-color: #68b738;
$dark-green-color: #5eaa2f;
