// ------------------------------------------ //
// 01 COLORS
// ------------------------------------------ //
$white-color: #ffffff;
$black-color: #111111;
$grey-color: #f2f2f2;
$dark-grey-color-1: #666666;
$dark-grey-color-2: #444444;
$green-color: #68b738;
$green-color-1: #5eaa2f;
